.navbar-right {
    margin-right: -30px;
}
@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -40px;
    }
}

.error-p{
    margin: 10px 0px 0px 0px;
}
